*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellow;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    gap: 6px;
}
body > *{
    background-color: lightcyan;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}
h1{color: blue}
aside{
    grid-area: aside;
    background-color: plum;
}
main{
    grid-area: main;
    background-color: lightblue;
}
footer{
    grid-area: footer;
}

@media (max-width: 1007px){
    body{
        grid-template-rows: 0.1fr 0.3fr 0.5fr 0.1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    }
    h1{color: palevioletred;}
}

@media (max-width: 640px){
    aside{
        display: none;
    }
    body{
        grid-template-rows: 0.1fr 0.8fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    h1{color: red;}
}